#intro {
	font-family: 'Montserrat', sans-serif;
	padding: 30px;
}

#contact{
	padding: 30px;
}

.fa {
  	padding: 12px;
  	/*font-size: 900px;*/
  	width: 30px;
  	text-align: center;
  	text-decoration: none;
  	margin: 5px 2px;
  	border-radius: 5%;

}

.fa-hover {
	opacity: 0.6;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
}

.fa-envelope {
	background: #808080;
	color: #ffffff;
}

.fa-github {
	background: #6e5494;
	color: white;
}
