#intro {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	padding: 30px;
}

#contact{
	padding: 30px;
}

.fa {
  	padding: 12px;
  	/*font-size: 900px;*/
  	text-align: center;
  	margin: 10px 6px;
  	border-radius: 10%;
}

hr {
	color: black;
}

.fa:hover {
	opacity: 0.8;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
}

.fa-envelope {
	background: #767676;
	color: white;
}

.fa-github {
	background: #6e5494;
	color: white;
}

.fa-quora {
	background: #AA2200;
	color: white;
}

.fa-medium{
	background: #00ab6c;
	color: white;
}

a {
	text-decoration: none;
	color: black;
}